<div @fade class="about">
    <div class="container">
        <div class="textBox">
          <h1>Joseph Gutierrez</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt eligendi consequuntur magni 
             id ab earum commodi eos quod voluptates enim! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, aliquam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum maiores illum impedit enim saepe consectetur nesciunt itaque perspiciatis distinctio?
          </p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt eligendi consequuntur magni 
             id ab earum commodi eos quod voluptates enim! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, aliquam?
          </p>
        </div>
        <div class="gallery">
            <div class="row"></div>
        </div>
    </div>
</div>